In [1]:
import  pandas as pd
data = pd.read_csv('C:/Users/Alif/OneDrive - uinjkt.ac.id/Kuliah UIN/PKL/BMKG/Data Iklim csv - Data Only/data_hasil_penggabungan2.csv')
data.head()

,TANGGAL,TN,TX,TAVG,RH_AVG,RR,SS,FF_X,DDD_X,FF_AVG,DDD_CAR
0,01-01-2020,24.4,28.6,26.7,88.0,147.9,0.5,4.0,300.0,2.0,NW
1,02-01-2020,24.2,31.2,27.6,81.0,40.2,0.0,5.0,290.0,3.0,NW
2,03-01-2020,24.9,31,27.6,84.0,0.3,4.8,5.0,290.0,2.0,W
3,04-01-2020,25.8,31.1,28.2,80.0,9.2,3.0,5.0,300.0,3.0,NW
4,05-01-2020,25.7,29.5,27.0,88.0,4.5,1.0,4.0,310.0,2.0,W

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1841 entries, 0 to 1840
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TANGGAL  1841 non-null   object
 1   TN       1841 non-null   object
 2   TX       1841 non-null   object
 3   TAVG     1841 non-null   object
 4   RH_AVG   1841 non-null   object
 5   RR       1841 non-null   object
 6   SS       1841 non-null   object
 7   FF_X     1841 non-null   float64
 8   DDD_X    1841 non-null   object
 9   FF_AVG   1841 non-null   float64
 10  DDD_CAR  1841 non-null   object
dtypes: float64(2), object(9)
memory usage: 158.3+ KB

#### Duplikat

In [3]:
num_duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 15

In [4]:
data = data.drop_duplicates()

In [5]:
num_duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

#### Ubah Tipe Data

In [6]:
# Exclude columns that should not be converted to float
exclude_columns = ['DDD_CAR', 'TANGGAL']
data = data.apply(lambda col: col.replace('-', None).astype(float) if col.name not in exclude_columns and col.dtypes == 'object' else col)
data['DDD_CAR'] = data['DDD_CAR'].astype('category')
data['TANGGAL'] = pd.to_datetime(data['TANGGAL'], format='%d-%m-%Y', dayfirst=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1826 entries, 0 to 1840
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TANGGAL  1826 non-null   datetime64[ns]
 1   TN       1734 non-null   float64
 2   TX       1806 non-null   float64
 3   TAVG     1823 non-null   float64
 4   RH_AVG   1825 non-null   float64
 5   RR       1587 non-null   float64
 6   SS       1799 non-null   float64
 7   FF_X     1826 non-null   float64
 8   DDD_X    1825 non-null   float64
 9   FF_AVG   1826 non-null   float64
 10  DDD_CAR  1826 non-null   category
dtypes: category(1), datetime64[ns](1), float64(9)
memory usage: 159.1 KB

#### Statistika Deskriptif

In [8]:
data.describe()

,TANGGAL,TN,TX,TAVG,RH_AVG,RR,SS,FF_X,DDD_X,FF_AVG
count,1826,1734.000000,1806.000000,1823.000000,1825.000000,1587.000000,1799.000000,1826.000000,1825.000000,1826.000000
mean,2022-07-02 09:51:27.404162048,23.943887,32.276523,27.732309,78.763836,596.713296,5.385992,5.054217,179.598356,2.325301
min,2020-01-01 00:00:00,19.500000,26.400000,24.000000,56.000000,0.000000,0.000000,2.000000,5.000000,1.000000
25%,2021-04-02 06:00:00,23.400000,31.600000,27.100000,75.000000,0.000000,2.900000,4.000000,50.000000,2.000000
50%,2022-07-02 12:00:00,24.000000,32.400000,27.800000,79.000000,0.200000,5.600000,5.000000,220.000000,2.000000
75%,2023-10-01 18:00:00,24.600000,33.200000,28.400000,83.000000,8.300000,8.000000,6.000000,300.000000,3.000000
max,2024-12-31 00:00:00,27.400000,36.200000,30.300000,96.000000,9999.000000,11.800000,18.000000,360.000000,5.000000
std,NaN,1.013996,1.380502,0.984275,5.989447,2219.636178,3.069697,1.463273,124.221304,0.643948

#### Noise

In [9]:
data.head(40)

,TANGGAL,TN,TX,TAVG,RH_AVG,RR,SS,FF_X,DDD_X,FF_AVG,DDD_CAR
0,2020-01-01,24.4,28.6,26.7,88.0,147.9,0.5,4.0,300.0,2.0,NW
1,2020-01-02,24.2,31.2,27.6,81.0,40.2,0.0,5.0,290.0,3.0,NW
2,2020-01-03,24.9,31.0,27.6,84.0,0.3,4.8,5.0,290.0,2.0,W
3,2020-01-04,25.8,31.1,28.2,80.0,9.2,3.0,5.0,300.0,3.0,NW
4,2020-01-05,25.7,29.5,27.0,88.0,4.5,1.0,4.0,310.0,2.0,W
5,2020-01-06,24.8,30.4,26.6,89.0,14.6,0.0,6.0,320.0,2.0,SW
6,2020-01-07,24.7,30.4,27.0,88.0,12.6,2.0,5.0,270.0,2.0,W
7,2020-01-08,25.0,30.2,27.3,83.0,0.2,2.7,6.0,320.0,2.0,W
8,2020-01-09,25.6,29.6,28.0,82.0,7.1,0.0,6.0,240.0,4.0,W
9,2020-01-10,23.6,27.8,25.5,89.0,42.7,0.0,4.0,290.0,2.0,W
10,2020-01-11,23.9,31.6,26.8,84.0,10.8,0.0,8.0,240.0,3.0,SW
11,2020-01-12,24.4,32.3,28.3,78.0,3.5,5.4,6.0,310.0,3.0,W
12,2020-01-13,25.5,30.2,27.1,87.0,1.0,8.8,4.0,320.0,2.0,NW
13,2020-01-14,24.7,31.8,28.3,79.0,6.3,1.9,5.0,320.0,3.0,N
14,2020-01-15,24.6,31.0,27.2,84.0,33.5,9.0,4.0,310.0,2.0,S
15,2020-01-16,NaN,31.4,27.6,83.0,NaN,6.0,6.0,10.0,2.0,S
16,2020-01-17,24.9,31.7,28.0,83.0,0.0,4.9,5.0,320.0,3.0,N
17,2020-01-18,25.0,31.1,27.2,80.0,7.3,7.2,3.0,30.0,2.0,N
18,2020-01-19,23.6,31.8,27.7,84.0,0.0,2.3,4.0,350.0,2.0,N
19,2020-01-20,25.4,31.2,28.6,80.0,0.0,9.8,5.0,350.0,2.0,N
20,2020-01-21,25.0,30.6,27.5,84.0,3.6,5.1,4.0,310.0,2.0,N
21,2020-01-22,25.0,31.2,27.7,83.0,5.0,6.8,4.0,310.0,2.0,N
22,2020-01-23,25.0,31.7,28.0,83.0,40.0,4.8,5.0,300.0,2.0,NW
23,2020-01-24,25.2,30.2,26.2,93.0,5.5,6.3,4.0,250.0,2.0,W
24,2020-01-25,25.2,29.4,26.7,88.0,105.3,1.7,5.0,330.0,2.0,NW
25,2020-01-26,24.3,NaN,27.7,84.0,1.7,1.0,5.0,360.0,2.0,N
26,2020-01-27,24.9,31.3,27.9,83.0,4.9,8.2,5.0,10.0,2.0,SW
27,2020-01-28,25.0,32.0,28.3,82.0,NaN,5.5,3.0,290.0,2.0,N
28,2020-01-29,25.4,32.6,28.6,79.0,NaN,8.0,6.0,300.0,2.0,N
29,2020-01-30,23.6,31.0,26.6,84.0,13.9,8.7,4.0,300.0,2.0,N
30,2020-01-31,24.0,29.6,27.7,84.0,0.0,2.9,8.0,270.0,3.0,NE
31,2020-02-01,24.0,29.1,25.5,92.0,111.0,4.0,5.0,300.0,2.0,SE
32,2020-02-02,24.0,29.6,25.8,92.0,11.4,0.6,3.0,40.0,1.0,S
33,2020-02-03,22.6,28.4,25.8,92.0,5.3,0.8,2.0,60.0,1.0,S
34,2020-02-04,24.4,29.6,26.4,89.0,25.9,0.3,4.0,300.0,2.0,NW
35,2020-02-05,24.1,30.5,27.1,84.0,19.7,3.0,4.0,350.0,2.0,NW
36,2020-02-06,25.0,28.9,26.4,89.0,8888.0,1.7,5.0,290.0,2.0,W
37,2020-02-07,24.5,30.0,26.0,92.0,0.5,0.0,3.0,340.0,2.0,NE
38,2020-02-08,24.2,30.3,26.6,83.0,39.8,0.5,4.0,330.0,2.0,N
39,2020-02-09,23.7,30.6,26.1,85.0,9.1,6.5,5.0,300.0,2.0,W

In [10]:
data[data['RR']==9999]

,TANGGAL,TN,TX,TAVG,RH_AVG,RR,SS,FF_X,DDD_X,FF_AVG,DDD_CAR
1809,2024-11-30,25.6,34.5,29.7,67.0,9999.0,1.2,7.0,280.0,4.0,SW
1811,2024-12-02,25.0,32.9,28.7,73.0,9999.0,8.0,7.0,220.0,4.0,SW
1820,2024-12-11,26.0,33.2,29.4,73.0,9999.0,NaN,4.0,230.0,3.0,SW
1832,2024-12-23,23.4,29.5,26.2,93.0,9999.0,3.3,5.0,310.0,1.0,SW

In [11]:

value_to_replace = [8888, 9999, 8888.0, 9999.0]

for col in data.columns:
    if data[col].dtype.kind in {'i', 'f'}:  # Kolom numerik (integer atau float)
        data.loc[:, col] = data[col].replace(value_to_replace, None).astype(float)
    elif data[col].dtype.kind == 'O':  # Kolom object (string/kategorikal)
        data.loc[:, col] = data[col].replace(value_to_replace, None)
    elif data[col].dtype.kind == 'M':  # Kolom datetime
        # Tidak mengganti nilai untuk kolom datetime
        pass

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1826 entries, 0 to 1840
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TANGGAL  1826 non-null   datetime64[ns]
 1   TN       1734 non-null   float64
 2   TX       1806 non-null   float64
 3   TAVG     1823 non-null   float64
 4   RH_AVG   1825 non-null   float64
 5   RR       1482 non-null   float64
 6   SS       1799 non-null   float64
 7   FF_X     1826 non-null   float64
 8   DDD_X    1825 non-null   float64
 9   FF_AVG   1826 non-null   float64
 10  DDD_CAR  1826 non-null   category
dtypes: category(1), datetime64[ns](1), float64(9)
memory usage: 159.1 KB

In [13]:
data['DDD_CAR'].value_counts()

DDD_CAR
SW    488
S     321
NE    249
W     224
E     191
N     142
NW    110
S      51
SE     20
E      17
W      10
N       3
Name: count, dtype: int64

In [14]:
data['DDD_CAR'] = data['DDD_CAR'].replace('S ', 'S')
data['DDD_CAR'] = data['DDD_CAR'].replace('W ', 'W')
data['DDD_CAR'] = data['DDD_CAR'].replace('E ', 'E')
data['DDD_CAR'] = data['DDD_CAR'].replace('N ', 'N')

C:\Users\Alif\AppData\Local\Temp\ipykernel_16688\2317587407.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['DDD_CAR'] = data['DDD_CAR'].replace('S ', 'S')
C:\Users\Alif\AppData\Local\Temp\ipykernel_16688\2317587407.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['DDD_CAR'] = data['DDD_CAR'].replace('W ', 'W')
C:\Users\Alif\AppData\Local\Temp\ipykernel_16688\2317587407.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['DDD_CAR'] = data['DDD_CAR'].replace('E ', 'E')
C:\Users\Alif\AppData\Local\Temp\ipykernel_16688\2317587407.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['DDD_CAR'] = data['DDD_CAR'].replace('N ', 'N')

In [15]:
data['DDD_CAR'].value_counts()

DDD_CAR
SW    488
S     372
NE    249
W     234
E     208
N     145
NW    110
SE     20
Name: count, dtype: int64

#### Missing Value

In [16]:
data.isnull().sum()

TANGGAL      0
TN          92
TX          20
TAVG         3
RH_AVG       1
RR         344
SS          27
FF_X         0
DDD_X        1
FF_AVG       0
DDD_CAR      0
dtype: int64

In [17]:
missing_percentage = data.isnull().mean() * 100
print(missing_percentage)

TANGGAL     0.000000
TN          5.038335
TX          1.095290
TAVG        0.164294
RH_AVG      0.054765
RR         18.838992
SS          1.478642
FF_X        0.000000
DDD_X       0.054765
FF_AVG      0.000000
DDD_CAR     0.000000
dtype: float64

In [18]:
data.shape

(1826, 11)

In [19]:
# Imputasi untuk variabel dengan missing value rendah menggunakan median
data['TN'] = data['TN'].fillna(data['TN'].median())
data['TX'] = data['TX'].fillna(data['TX'].median())
data['TAVG'] = data['TAVG'].fillna(data['TAVG'].median())
data['RH_AVG'] = data['RH_AVG'].fillna(data['RH_AVG'].median())
data['SS'] = data['SS'].fillna(data['SS'].median())
data['DDD_X'] = data['DDD_X'].fillna(data['DDD_X'].mode()[0])  # Mengisi dengan modus

# Imputasi dengan rata-rata bulanan untuk variabel dengan missing value signifikan (seperti RR)
data['RR'] = data['RR'].fillna(data.groupby(data['TANGGAL'].dt.month)['RR'].transform('mean'))

# Imputasi dengan interpolasi untuk variabel lainnya jika diinginkan
data['FF_AVG'] = data['FF_AVG'].interpolate()

# Tampilkan data setelah imputasi
print("Data Setelah Imputasi:")
data.head(40)

Data Setelah Imputasi:

,TANGGAL,TN,TX,TAVG,RH_AVG,RR,SS,FF_X,DDD_X,FF_AVG,DDD_CAR
0,2020-01-01,24.4,28.6,26.7,88.0,147.900000,0.5,4.0,300.0,2.0,NW
1,2020-01-02,24.2,31.2,27.6,81.0,40.200000,0.0,5.0,290.0,3.0,NW
2,2020-01-03,24.9,31.0,27.6,84.0,0.300000,4.8,5.0,290.0,2.0,W
3,2020-01-04,25.8,31.1,28.2,80.0,9.200000,3.0,5.0,300.0,3.0,NW
4,2020-01-05,25.7,29.5,27.0,88.0,4.500000,1.0,4.0,310.0,2.0,W
5,2020-01-06,24.8,30.4,26.6,89.0,14.600000,0.0,6.0,320.0,2.0,SW
6,2020-01-07,24.7,30.4,27.0,88.0,12.600000,2.0,5.0,270.0,2.0,W
7,2020-01-08,25.0,30.2,27.3,83.0,0.200000,2.7,6.0,320.0,2.0,W
8,2020-01-09,25.6,29.6,28.0,82.0,7.100000,0.0,6.0,240.0,4.0,W
9,2020-01-10,23.6,27.8,25.5,89.0,42.700000,0.0,4.0,290.0,2.0,W
10,2020-01-11,23.9,31.6,26.8,84.0,10.800000,0.0,8.0,240.0,3.0,SW
11,2020-01-12,24.4,32.3,28.3,78.0,3.500000,5.4,6.0,310.0,3.0,W
12,2020-01-13,25.5,30.2,27.1,87.0,1.000000,8.8,4.0,320.0,2.0,NW
13,2020-01-14,24.7,31.8,28.3,79.0,6.300000,1.9,5.0,320.0,3.0,N
14,2020-01-15,24.6,31.0,27.2,84.0,33.500000,9.0,4.0,310.0,2.0,S
15,2020-01-16,24.0,31.4,27.6,83.0,12.943478,6.0,6.0,10.0,2.0,S
16,2020-01-17,24.9,31.7,28.0,83.0,0.000000,4.9,5.0,320.0,3.0,N
17,2020-01-18,25.0,31.1,27.2,80.0,7.300000,7.2,3.0,30.0,2.0,N
18,2020-01-19,23.6,31.8,27.7,84.0,0.000000,2.3,4.0,350.0,2.0,N
19,2020-01-20,25.4,31.2,28.6,80.0,0.000000,9.8,5.0,350.0,2.0,N
20,2020-01-21,25.0,30.6,27.5,84.0,3.600000,5.1,4.0,310.0,2.0,N
21,2020-01-22,25.0,31.2,27.7,83.0,5.000000,6.8,4.0,310.0,2.0,N
22,2020-01-23,25.0,31.7,28.0,83.0,40.000000,4.8,5.0,300.0,2.0,NW
23,2020-01-24,25.2,30.2,26.2,93.0,5.500000,6.3,4.0,250.0,2.0,W
24,2020-01-25,25.2,29.4,26.7,88.0,105.300000,1.7,5.0,330.0,2.0,NW
25,2020-01-26,24.3,32.4,27.7,84.0,1.700000,1.0,5.0,360.0,2.0,N
26,2020-01-27,24.9,31.3,27.9,83.0,4.900000,8.2,5.0,10.0,2.0,SW
27,2020-01-28,25.0,32.0,28.3,82.0,12.943478,5.5,3.0,290.0,2.0,N
28,2020-01-29,25.4,32.6,28.6,79.0,12.943478,8.0,6.0,300.0,2.0,N
29,2020-01-30,23.6,31.0,26.6,84.0,13.900000,8.7,4.0,300.0,2.0,N
30,2020-01-31,24.0,29.6,27.7,84.0,0.000000,2.9,8.0,270.0,3.0,NE
31,2020-02-01,24.0,29.1,25.5,92.0,111.000000,4.0,5.0,300.0,2.0,SE
32,2020-02-02,24.0,29.6,25.8,92.0,11.400000,0.6,3.0,40.0,1.0,S
33,2020-02-03,22.6,28.4,25.8,92.0,5.300000,0.8,2.0,60.0,1.0,S
34,2020-02-04,24.4,29.6,26.4,89.0,25.900000,0.3,4.0,300.0,2.0,NW
35,2020-02-05,24.1,30.5,27.1,84.0,19.700000,3.0,4.0,350.0,2.0,NW
36,2020-02-06,25.0,28.9,26.4,89.0,15.117829,1.7,5.0,290.0,2.0,W
37,2020-02-07,24.5,30.0,26.0,92.0,0.500000,0.0,3.0,340.0,2.0,NE
38,2020-02-08,24.2,30.3,26.6,83.0,39.800000,0.5,4.0,330.0,2.0,N
39,2020-02-09,23.7,30.6,26.1,85.0,9.100000,6.5,5.0,300.0,2.0,W

#### Outlier

In [20]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Ganti 'your_column_name' dengan nama kolom yang ingin Anda periksa
# column_name = 'RR'

# plt.figure(figsize=(10, 6))
# sns.boxplot(x=data[column_name])
# plt.title(f'Boxplot for Outlier Detection in {column_name}')
# plt.xlabel(column_name)
# plt.show()

In [21]:
# # Menentukan fungsi untuk mendeteksi outlier menggunakan IQR
# def detect_outliers(data):
#     # Menyaring kolom numerik saja
#     numeric_cols = data.select_dtypes(include=['number']).columns
    
#     # Menyimpan indeks outlier
#     outlier_indices = []
    
#     for col in numeric_cols:
#         # Hitung Q1 (25%) dan Q3 (75%)
#         Q1 = data[col].quantile(0.25)
#         Q3 = data[col].quantile(0.75)
#         IQR = Q3 - Q1
        
#         # Tentukan batas bawah dan atas untuk outlier
#         lower_limit = Q1 - 0.8 * IQR
#         upper_limit = Q3 + 0.8 * IQR
        
#         # Temukan indeks yang merupakan outlier
#         outlier_indices.extend(data[(data[col] < lower_limit) | (data[col] > upper_limit)].index)
    
#     # Menghapus duplikat indeks outlier
#     outlier_indices = list(set(outlier_indices))
    
#     # Menghapus data yang merupakan outlier
#     data_no_outlier = data.drop(index=outlier_indices)
    
#     return data_no_outlier

# # Menghapus outlier
# data_no_outlier = detect_outliers(data)

# # Menampilkan jumlah data setelah menghapus outlier
# print(f"Jumlah data setelah menghapus outlier: {data_no_outlier.shape[0]}")

In [22]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Ganti 'your_column_name' dengan nama kolom yang ingin Anda periksa
# column_name = 'RR'

# plt.figure(figsize=(10, 6))
# sns.boxplot(x=data_no_outlier[column_name])
# plt.title(f'Boxplot for Outlier Detection in {column_name}')
# plt.xlabel(column_name)
# plt.show()

In [23]:
# # Boxplot dengan data yang sudah dihapus outlier
# import seaborn as sns
# sns.boxplot(data=data_no_outlier)

In [25]:
# Tambahkan kolom bulan
data['BULAN'] = data['TANGGAL'].dt.to_period('M')

# Agregasi per bulan
data_bulanan = data.groupby('BULAN').agg({
    'TN': 'min',  # Temperatur minimum per bulan
    'TX': 'max',  # Temperatur maksimum per bulan
    'TAVG': 'mean',  # Rata-rata temperatur per bulan
    'RH_AVG': 'mean',  # Rata-rata kelembapan per bulan
    'RR': 'mean',  # Rata-rata curah hujan harian per bulan
    'SS': 'mean',  # Rata-rata penyinaran matahari harian per bulan
    'FF_X': 'max',  # Kecepatan angin maksimum per bulan
    'DDD_X': lambda x: x.mode()[0] if not x.mode().empty else None,  # Modus arah angin
    'FF_AVG': 'mean',  # Rata-rata kecepatan angin per bulan
    'DDD_CAR': lambda x: x.mode()[0] if not x.mode().empty else None  # Modus arah angin terbanyak
}).reset_index()

# Tampilkan hasil agregasi bulanan
print("\nData Setelah Agregasi Bulanan:")
data_bulanan

Data Setelah Agregasi Bulanan:

,BULAN,TN,TX,TAVG,RH_AVG,RR,SS,FF_X,DDD_X,FF_AVG,DDD_CAR
0,2020-01,23.6,32.6,27.458065,83.903226,18.078401,4.138710,8.0,300.0,2.290323,N
1,2020-02,22.6,34.0,27.124138,84.586207,21.979925,3.924138,8.0,300.0,2.241379,NW
2,2020-03,22.2,34.5,27.709677,82.354839,7.492540,5.177419,9.0,330.0,2.129032,S
3,2020-04,23.8,34.4,28.236667,80.800000,2.137419,6.053333,7.0,30.0,2.166667,S
4,2020-05,23.4,35.0,28.345161,80.612903,3.274194,5.774194,9.0,60.0,2.451613,E
5,2020-06,23.4,33.8,28.055172,78.206897,0.634324,5.937931,8.0,60.0,2.310345,E
6,2020-07,21.6,33.7,27.603226,76.096774,1.104909,6.277419,8.0,60.0,2.322581,E
7,2020-08,20.8,34.2,27.625806,76.064516,5.749915,7.348387,10.0,50.0,2.612903,E
8,2020-09,22.0,33.8,28.116667,73.500000,4.207797,6.836667,18.0,40.0,2.366667,NE
9,2020-10,22.0,33.6,28.038710,77.225806,4.082450,6.025806,8.0,60.0,2.322581,S
10,2020-11,22.6,34.9,28.316667,76.100000,1.507381,5.533333,11.0,40.0,2.833333,SW
11,2020-12,22.0,34.4,27.296774,77.935484,5.598989,3.154839,8.0,260.0,3.516129,SW
12,2021-01,22.2,33.2,26.519355,83.225806,12.983029,2.067742,8.0,290.0,2.612903,W
13,2021-02,21.8,34.2,26.628571,84.214286,17.019131,3.528571,8.0,320.0,2.535714,NW
14,2021-03,20.5,33.6,27.300000,80.645161,8.396673,5.590323,9.0,350.0,2.290323,W
15,2021-04,22.2,33.4,27.533333,79.733333,5.481532,6.360000,15.0,40.0,2.300000,S
16,2021-05,23.2,33.5,28.070968,80.096774,5.748050,5.751613,10.0,50.0,2.548387,E
17,2021-06,21.4,33.5,27.343333,82.533333,2.086359,5.413333,8.0,60.0,2.066667,SW
18,2021-07,19.5,33.5,27.209677,77.903226,1.507013,6.487097,8.0,50.0,2.322581,NE
19,2021-08,21.3,33.6,27.425806,77.967742,4.431692,6.564516,10.0,40.0,2.387097,S
20,2021-09,23.0,33.8,27.963333,76.233333,2.173391,7.006667,8.0,40.0,2.500000,S
21,2021-10,22.4,34.4,28.248387,75.483871,3.760580,5.838710,7.0,20.0,2.064516,SW
22,2021-11,22.8,34.5,27.876667,76.233333,2.443750,4.236667,13.0,240.0,2.833333,SW
23,2021-12,22.1,35.5,27.409677,79.419355,11.276408,3.658065,9.0,250.0,2.419355,SW
24,2022-01,21.9,34.5,27.316129,81.354839,12.488499,4.690323,8.0,290.0,2.483871,W
25,2022-02,22.0,33.2,26.860714,82.892857,9.066196,3.360714,8.0,320.0,2.321429,SW
26,2022-03,22.2,34.3,27.445161,80.935484,4.745565,4.312903,10.0,230.0,2.645161,SW
27,2022-04,21.6,34.8,27.750000,80.133333,5.875376,5.980000,9.0,240.0,2.400000,SW
28,2022-05,21.6,34.8,27.422581,83.580645,9.037410,4.890323,9.0,60.0,2.129032,SW
29,2022-06,20.8,33.8,26.816667,82.633333,4.146282,3.016667,7.0,40.0,2.033333,SW
30,2022-07,20.2,33.7,27.293548,80.322581,3.943338,6.541935,8.0,50.0,2.290323,E
31,2022-08,20.7,34.0,27.548387,78.612903,2.553990,6.732258,11.0,40.0,2.225806,NE
32,2022-09,22.2,33.6,27.546667,79.033333,5.072319,5.526667,8.0,360.0,2.133333,S
33,2022-10,21.8,34.8,27.406452,79.483871,4.397514,4.309677,8.0,230.0,2.193548,SW
34,2022-11,20.2,34.0,27.343333,80.566667,6.742024,4.260000,7.0,250.0,2.366667,SW
35,2022-12,21.0,34.1,27.270968,80.451613,3.730693,4.225806,8.0,230.0,2.483871,SW
36,2023-01,21.4,34.4,27.316129,79.322581,7.077980,4.316129,8.0,270.0,2.612903,W
37,2023-02,22.2,33.5,26.753571,83.678571,14.952547,2.789286,9.0,310.0,2.571429,W
38,2023-03,21.6,34.0,26.909677,85.064516,9.697177,5.477419,11.0,270.0,2.193548,N
39,2023-04,21.2,34.7,28.153333,78.433333,2.568710,6.963333,8.0,280.0,2.266667,W
40,2023-05,22.4,34.2,28.467742,77.903226,1.602407,5.664516,10.0,50.0,2.096774,NE
41,2023-06,22.6,33.4,27.823333,79.533333,2.649615,6.120000,6.0,50.0,2.000000,S
42,2023-07,20.5,35.0,27.245161,77.419355,1.155680,5.848387,8.0,60.0,2.064516,E
43,2023-08,21.5,33.6,27.470968,74.709677,1.934918,7.851613,8.0,60.0,2.161290,NE
44,2023-09,20.2,35.4,27.910000,68.100000,0.363391,8.170000,8.0,70.0,2.133333,E
45,2023-10,23.0,36.2,29.125806,69.806452,1.063096,8.138710,8.0,30.0,2.161290,SW
46,2023-11,22.2,35.3,28.563333,75.700000,6.805060,5.460000,7.0,40.0,2.000000,SW
47,2023-12,22.2,35.8,28.406452,74.548387,0.907005,5.658065,8.0,340.0,2.193548,SW
48,2024-01,22.6,34.0,27.564516,81.354839,14.089481,3.980645,11.0,300.0,2.451613,W
49,2024-02,22.0,34.8,27.979310,81.827586,12.422534,4.234483,7.0,300.0,2.241379,NW
50,2024-03,23.0,34.8,28.016129,80.258065,11.808669,4.667742,8.0,300.0,2.548387,S
51,2024-04,23.8,34.1,28.683333,79.533333,4.013575,5.296667,8.0,40.0,2.033333,S
52,2024-05,23.4,33.8,29.035484,76.516129,2.412566,5.161290,7.0,50.0,2.064516,NE
53,2024-06,22.3,34.0,28.290000,77.666667,7.379769,5.600000,6.0,50.0,2.033333,S
54,2024-07,20.2,33.5,27.096774,77.548387,4.832539,6.403226,7.0,60.0,2.096774,S
55,2024-08,20.6,34.2,27.693548,75.354839,3.785625,6.545161,6.0,30.0,2.064516,S
56,2024-09,21.1,33.9,28.253333,73.900000,6.352667,6.960000,8.0,50.0,2.166667,NE
57,2024-10,23.0,36.0,29.241935,70.548387,3.141314,6.706452,11.0,60.0,2.161290,SW
58,2024-11,22.5,35.2,28.666667,76.466667,6.653571,4.416667,9.0,240.0,2.366667,SW
59,2024-12,22.8,34.2,27.651613,80.870968,13.072725,3.845161,9.0,230.0,2.677419,SW

## **Agregasi Data Bulanan**

Proses ini bertujuan untuk mengubah data yang memiliki interval harian menjadi data dengan interval bulanan, agar dapat dianalisis dalam cakupan waktu yang lebih luas. Berikut adalah langkah-langkah yang dilakukan dalam agregasi data ini:

---

### **1. Menambahkan Kolom Bulan**
- Setelah kolom tanggal dikonversi menjadi datetime, kita menambahkan kolom baru yang berisi informasi bulan menggunakan `dt.to_period('M')`.  
- Kolom `bulan` ini digunakan sebagai acuan untuk agregasi berdasarkan bulan.

---

### **2. Agregasi Per Bulan**
Data dikelompokkan berdasarkan kolom `bulan` menggunakan fungsi `groupby('bulan')`. Setelah pengelompokan, masing-masing kolom dihitung dengan fungsi agregasi yang sesuai:

| **Variabel**  | **Fungsi Agregasi**                                       | **Penjelasan**                                                       |
|---------------|-----------------------------------------------------------|----------------------------------------------------------------------|
| **TN**        | `min()`                                                   | Mengambil temperatur minimum per bulan.                             |
| **TX**        | `max()`                                                   | Mengambil temperatur maksimum per bulan.                            |
| **TAVG**      | `mean()`                                                  | Menghitung rata-rata temperatur per bulan.                          |
| **RH_AVG**    | `mean()`                                                  | Menghitung rata-rata kelembapan per bulan.                          |
| **RR**        | `mean()`                                                  | Menghitung rata-rata curah hujan harian dalam sebulan.              |
| **SS**        | `mean()`                                                  | Menghitung rata-rata lamanya penyinaran matahari harian per bulan.  |
| **FF_X**      | `max()`                                                   | Mengambil kecepatan angin maksimum per bulan.                       |
| **DDD_X**     | `lambda x: x.mode()[0] if not x.mode().empty else None`   | Mengambil modus arah angin saat kecepatan maksimum.                 |
| **FF_AVG**    | `mean()`                                                  | Menghitung rata-rata kecepatan angin per bulan.                     |
| **DDD_CAR**   | `lambda x: x.mode()[0] if not x.mode().empty else None`   | Mengambil modus arah angin terbanyak dalam sebulan.                 |

---

### **3. Hasil Agregasi**
- Hasil akhirnya adalah DataFrame baru yang berisi data yang sudah teragregasi per bulan.  
- Setiap baris mewakili satu bulan tertentu, dengan kolom-kolom yang berisi nilai hasil agregasi (minimum, maksimum, rata-rata, atau modus) sesuai kategori masing-masing variabel.  

---

### **4. Alasan Penggunaan Mean untuk RR dan SS**
- **Curah Hujan (RR)**: Menggunakan rata-rata memberikan gambaran rata-rata curah hujan harian selama sebulan, yang relevan untuk analisis cuaca harian.  
- **Lamanya Penyinaran Matahari (SS)**: Rata-rata waktu penyinaran harian memberikan gambaran pola harian tanpa pengaruh jumlah hari dalam bulan tertentu.

In [26]:
data_bulanan.to_csv("C:/Users/Alif/OneDrive - uinjkt.ac.id/Kuliah UIN/PKL/BMKG/Data Iklim csv - Data Only/data_bulanan_2.csv", index=False)